/* :link :visited :hover :active */

a:link{
    color: aqua;
}
/* fareyle üzerine tıklandığı zaman rengi değişiyor */
a:visited{
    color: red;
}
/* üzerine fare ile gelindiğinde */
a:hover{
    color: blue;
}
/* fareyle linkin üzerine tıklandığı zaman boyunca */
a:active{
    color: green;
}